# ---------------------------------------------
# SERVER CONFIGURATION
# ---------------------------------------------
PORT=
NODE_ENV=
SECURE_PROTOCOL=
DOMAIN=
API_HOST=

# ---------------------------------------------
# MIDDLEWARE
# ---------------------------------------------
CORS_ORIGIN=
ENABLE_CORS=
ENABLE_HELMET=
ENABLE_MORGAN=
ENABLE_DATABASE=

# ---------------------------------------------
# RATE LIMITING
# ---------------------------------------------
REQUEST_SIZE_LIMIT=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=

# ---------------------------------------------
# AUTHENTICATION
# ---------------------------------------------
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d
JWT_COOKIE_ACCESS_NAME=AT
JWT_COOKIE_REFRESH_NAME=RT
SESSION_TRANSMISSION_METHOD=bearer
BCRYPT_ROUNDS=10

# ---------------------------------------------
# MULTI-DATABASE CONFIGURATION
# ---------------------------------------------
# Bases de datos habilitadas (separadas por coma)
ENABLED_DATABASES=

# Por defecto
DEFAULT_DATABASE=
DEFAULT_DATABASE_HOST=127.0.0.1

# --- DATABASE N°# ---
#DB_<TYPE>_<CONNECTOR>_<VARIABLE>=<VALUE>

# EXAMPLE FOR POSTGRESQL
# --- DATABASE N°1 ---
#DB_POSTGRESQL_MAIN_ENABLED=true
#DB_POSTGRESQL_MAIN_HOST=
#DB_POSTGRESQL_MAIN_PORT=
#DB_POSTGRESQL_MAIN_DATABASE=
#DB_POSTGRESQL_MAIN_USERNAME=
#DB_POSTGRESQL_MAIN_PASSWORD=
#DB_POSTGRESQL_MAIN_DIALECT=postgres
#DB_POSTGRESQL_MAIN_TIMEZONE=-04:00
#DB_POSTGRESQL_MAIN_LOGGING=true
#DB_POSTGRESQL_MAIN_POOL_MAX=10
#DB_POSTGRESQL_MAIN_POOL_MIN=0
#DB_POSTGRESQL_MAIN_POOL_ACQUIRE=30000
#DB_POSTGRESQL_MAIN_POOL_IDLE=10000
#DB_POSTGRESQL_MAIN_SYNC_FORCE=false
#DB_POSTGRESQL_MAIN_SYNC_ALTER=false

# ---------------------------------------------
# SUPER ADMIN CREDENTIALS
# ---------------------------------------------
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=