# ---------------------------------------------
# SERVER CONFIGURATION
# ---------------------------------------------
PORT=
API_HOST=
DOMAIN=
SECURE_PROTOCOL=
NODE_ENV=
CORS_ORIGIN=http://127.0.0.1:5173
ENABLE_CORS=true
ENABLE_HELMET=true
ENABLE_MORGAN=true
ENABLE_DATABASE=true
ENABLE_SWAGGER_UI=true
ENABLE_IMAGE_CLOUD=true
ENABLE_EMAIL=true
CLIENT_WEB_APP_URL=http://localhost:5173

# ---------------------------------------------
# RATE LIMITING
# ---------------------------------------------
REQUEST_SIZE_LIMIT=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=

# ---------------------------------------------
# AUTHENTICATION
# ---------------------------------------------
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=5m
JWT_REFRESH_EXPIRES_IN=30d
JWT_COOKIE_ACCESS_NAME=AT
JWT_COOKIE_REFRESH_NAME=RT
BCRYPT_ROUNDS=10

# ---------------------------------------------
# CACHE DATABASE CONFIGURATION
# ---------------------------------------------
CACHE_DATABASE_HOST=
CACHE_DATABASE_PORT=6379

# ---------------------------------------------
# MULTI-DATABASE CONFIGURATION
# ---------------------------------------------
# Bases de datos habilitadas (separadas por coma)
ENABLED_DATABASES=
AVAILABLE_TESTING_ENV_DATABASES=

# Por defecto
DEFAULT_DATABASE=
DEFAULT_DATABASE_HOST=127.0.0.1

# --- DATABASE N°# ---
#DB_<TYPE>_<CONNECTOR>_<VARIABLE>=<VALUE>

# --- DATABASE N°1 (EXAMPLE FOR POSTGRESQL) ---
#DB_POSTGRESQL_MAIN_ENABLED=true
#DB_POSTGRESQL_MAIN_HOST=
#DB_POSTGRESQL_MAIN_PORT=
#DB_POSTGRESQL_MAIN_DATABASE=
#DB_POSTGRESQL_MAIN_USERNAME=
#DB_POSTGRESQL_MAIN_PASSWORD=
#DB_POSTGRESQL_MAIN_DIALECT=postgres
#DB_POSTGRESQL_MAIN_TIMEZONE=-04:00
#DB_POSTGRESQL_MAIN_LOGGING=true
#DB_POSTGRESQL_MAIN_POOL_MAX=10
#DB_POSTGRESQL_MAIN_POOL_MIN=0
#DB_POSTGRESQL_MAIN_POOL_ACQUIRE=30000
#DB_POSTGRESQL_MAIN_POOL_IDLE=10000
#DB_POSTGRESQL_MAIN_SYNC_FORCE=false
#DB_POSTGRESQL_MAIN_SYNC_ALTER=false
#DB_POSTGRESQL_MAIN_SSL=false

# ---------------------------------------------
# SUPER ADMIN CREDENTIALS
# ---------------------------------------------
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# ---------------------------------------------
# REALTIME / WEBSOCKETS
# ---------------------------------------------
REALTIME_ENABLED=true
REALTIME_PATH=/socket.io
REALTIME_ADAPTER=redis
REALTIME_NAMESPACE_PREFIX=/
REALTIME_PING_INTERVAL=25000

# ---------------------------------------------
# EMAIL CONFIGURATION
# ---------------------------------------------
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_FROM=informatica.promo69@gmail.com
EMAIL_USER=informatica.promo69@gmail.com
EMAIL_PASS=lvkv erhj enom xovb
EMAIL_GOOGLE_CLIENT_ID=759043365585-stjcg19rjthfbnp9fdcdkqlcp4rcfeef.apps.googleusercontent.com
EMAIL_GOOGLE_CLIENT_SECRET=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
EMAIL_GOOGLE_REFRESH_TOKEN=1//04C9YJQdZG1yhCgYIARAAGAQSNwF-L9Irt9iCT87bRGGdC8jePCo7nNxMoYUx0c8z4gy0KQF1i4iQ__bxKLe6Xn20Jo-wFBD7rzg

# ---------------------------------------------
# SWAGGER UI CONFIGURATION
# ---------------------------------------------
DOCS_PATH=/api-docs
DOCS_TITLE="CineFlix API"
DOCS_DESCRIPTION="Documentación de la API de CineFlix"

# ---------------------------------------------
# IMAGE CLOUD CONFIGURATION
# ---------------------------------------------
IMAGECLOUD_PUBLIC_KEY=public_MSc877Vi/RVN6vsDfXh/nVRGgtE=
IMAGECLOUD_PRIVATE_KEY=private_NXnCj4wTCJCp4bL2bOtapVKCntA=
IMAGECLOUD_URL_ENDPOINT=https://ik.imagekit.io/cineflix
