# ---------------------------------------------
# SERVER CONFIGURATION
# ---------------------------------------------
PORT=
API_HOST=
DOMAIN=
SECURE_PROTOCOL=
NODE_ENV=

# ---------------------------------------------
# MIDDLEWARE
# ---------------------------------------------
CORS_ORIGIN=
ENABLE_CORS=
ENABLE_HELMET=
ENABLE_MORGAN=
ENABLE_DATABASE=

# ---------------------------------------------
# RATE LIMITING
# ---------------------------------------------
REQUEST_SIZE_LIMIT=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=

# ---------------------------------------------
# AUTHENTICATION
# ---------------------------------------------
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=5m
JWT_REFRESH_EXPIRES_IN=30d
JWT_COOKIE_ACCESS_NAME=AT
JWT_COOKIE_REFRESH_NAME=RT
BCRYPT_ROUNDS=10

# ---------------------------------------------
# CACHE DATABASE CONFIGURATION
# ---------------------------------------------
CACHE_DATABASE_HOST=
CACHE_DATABASE_PORT=6379

# ---------------------------------------------
# MULTI-DATABASE CONFIGURATION
# ---------------------------------------------
# Bases de datos habilitadas (separadas por coma)
ENABLED_DATABASES=
AVAILABLE_TESTING_ENV_DATABASES=

# Por defecto
DEFAULT_DATABASE=
DEFAULT_DATABASE_HOST=127.0.0.1

# --- DATABASE N°# ---
#DB_<TYPE>_<CONNECTOR>_<VARIABLE>=<VALUE>

# --- DATABASE N°1 (EXAMPLE FOR POSTGRESQL) ---
#DB_POSTGRESQL_MAIN_ENABLED=true
#DB_POSTGRESQL_MAIN_HOST=
#DB_POSTGRESQL_MAIN_PORT=
#DB_POSTGRESQL_MAIN_DATABASE=
#DB_POSTGRESQL_MAIN_USERNAME=
#DB_POSTGRESQL_MAIN_PASSWORD=
#DB_POSTGRESQL_MAIN_DIALECT=postgres
#DB_POSTGRESQL_MAIN_TIMEZONE=-04:00
#DB_POSTGRESQL_MAIN_LOGGING=true
#DB_POSTGRESQL_MAIN_POOL_MAX=10
#DB_POSTGRESQL_MAIN_POOL_MIN=0
#DB_POSTGRESQL_MAIN_POOL_ACQUIRE=30000
#DB_POSTGRESQL_MAIN_POOL_IDLE=10000
#DB_POSTGRESQL_MAIN_SYNC_FORCE=false
#DB_POSTGRESQL_MAIN_SYNC_ALTER=false
#DB_POSTGRESQL_MAIN_SSL=false

# ---------------------------------------------
# SUPER ADMIN CREDENTIALS
# ---------------------------------------------
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# ---------------------------------------------
# EMAIL CONFIGURATION
# ---------------------------------------------
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_FROM=informatica.promo69@gmail.com
EMAIL_USER=informatica.promo69@gmail.com
EMAIL_PASS=lvkv erhj enom xovb
